.row:nth-child(even)>.card:nth-child(odd){
    width: 30px;
    height: 30px;
    background-color: black;   
}
.row:nth-child(even)>.card:nth-child(even){
    width: 30px;
    height: 30px;
    background-color: white;   
}
.row:nth-child(odd)>.card:nth-child(even){
    width: 30px;
    height: 30px;
    background-color: black;
}
.row:nth-child(odd)>.card:nth-child(odd){
    width: 30px;
    height: 30px;
    background-color: white;
} 

.container{
    margin:auto;
    
    width: 240px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    border-width: 20px;
}
